.audio-player {
	position: relative;
	height: $footer-height / 2;
	width: 80%;

	// reels
	&-reel-left, &-reel-right {
		position: absolute;
		top: 2px;
		background: url(../images/audio/audio-reel.png) no-repeat;
		background-size: contain;
		width: 60px;
		height: 60px;
		z-index: 3;
	}
	&-reel-left {
		left: 0;
	}
	&-reel-right {
		right: -2px;
	}

	// track
	&-track {
		position: absolute;
		bottom: 10px;
		left: 18px;
		background: url(../images/audio/audio-track.png) no-repeat;
		background-size: contain;
		width: 85%;
		height: 50px;
		z-index: 0;
	}

	// head
	&-head {
		transition-duration: 0.6s;
		transition-property: bottom;

		position: absolute;
		bottom: 30px;
		left: 95px;
		background: url(../images/audio/audio-head.png) no-repeat;
		background-size: contain;
		width: 17px;
		height: 15px;

		&.is-playing {
			bottom: 23px;
		}
	}

	// controls
	&-controls {
		position: absolute;
		margin: 0;

		&.audio-play {
			position: absolute;
			bottom: 50px;
			left: 88px;
			&.is-playing {
					left: 80px;
					top: 33px;
			}
		}
		&.audio-stop {
			position: absolute;
			left: 105px;
			bottom: 70px;
		}

	}
}
.rotate {
		-webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    &.is-paused {
    	-webkit-animation-play-state: paused;
		-moz-animation-play-state: paused;
    }
}

	@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
	@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
	@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }


