.audio {
	cursor: pointer;
	font-size: 1.2rem;
	letter-spacing: 0.2rem;
	font-weight: 700;
	margin: $spacing-half 0px;

	&:before {
		background: url(../images/play.png) no-repeat;
		display: block;
		content: "";
		float: left;
		width: 14px;
		height: 30px;
		margin-top: 1px;
		margin-right: 5px;
	}

	&.is-playing {
		&:before {
			background: $site-dark;
			height: 15px;
			width: 15px;
			display: block;
			content: "";
			float: left;
			margin-top: -2px;
			margin-right: 10px;
		}
	}
}