%infoClass {
	float: left;
}
.info {
	@extend .clearfix;
	&-title {
		@extend %infoClass;
		font-weight: 700;
		letter-spacing: 0.1rem;
		font-size: 1.2rem;
	}
	&-pipe {
		@extend %infoClass;
		margin: 0px $spacing-fourth;
	}
	&-type {
		@extend %infoClass;
		font-weight: 300;
		letter-spacing: 0.03rem;
		display: inline-block;
		float: none;
	}
	&-meta {
		float: left;
		&:after {
			content: "|";
			display: inline-block;
			margin: 0px 3px;
			font-weight: 700;
			top: -1px;
			position: relative;
		}
		&:last-child {
			&:after {
				content: "";
			}
		}
	}

}