%infoClass {
	float: left;
	font-family: $open-sans;
}
.info {
	@extend .clearfix;
	&-title {
		@extend %infoClass;
		font-weight: bold;
	}
	&-pipe {
		@extend %infoClass;
		margin: 0px $spacing-fourth;
	}
	&-type {
		@extend %infoClass;
	}
}