.year-list {
	overflow: hidden;
	&-item {
		font-family: $vollkorn;
		font-weight: 700;
		list-style: none;
		background: $site-background;
		&:before {
			content: "_________________________";
			display: block;
			float: left;
			margin-right: 10px;
			margin-left: -20px;
			font-family: Arial, Helvetica, Sans-serif;
		}
	}
}