.year-list {
	overflow: hidden;
	&-item {
		list-style: none;
		background: $site-background;
		&:before {
			content: "_________________________";
			display: block;
			float: left;
			margin-right: 10px;
			margin-left: -20px;
		}
	}
}